.aboutUs__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 10px;
}
.aboutUs__wrapper > h2 {
    float: left;
    text-align: center;
}
.aboutUs__wrapper > div > p {
    font-size: 20px;
    padding-right: 20px;
    text-align: center;
}
.aboutUs__wrapper > div > a, span {
    font-size: 18px;
    padding-right: 20px;
    text-align: center;
}
