
.itemCard__back {
    margin: 5px 10px;
    background-color: white;
    border: 0px solid black;
    padding: 2px;
}
.itemCard__wrapper {
    display: grid;
    grid-template-columns: 75% 25%;
    margin-bottom: 20px;
}

.itemCard__slider {
    display: grid;
    grid-template-columns: 25% 75%;
}
.itemCard__slider__dots {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.itemCard__slider__dots__img {
    max-width: 81px;
    max-height: 108px;
}
.itemCard__slider__dots > button {
    height: 32px;
    width: 32px;
    background-color: white;
    border: 0px;
}
.itemCard__slider__dots > .up {
    background-image: url('../../recources/img/sliderImg/up.png');
    translate: none;
    transition: 1s;
}
.itemCard__slider__dots > .up:active {
    background-image: url('../../recources/img/sliderImg/up.png');
    translate: 0px -5px;
}
.itemCard__slider__dots > .down {
    background-image: url('../../recources/img/sliderImg/down.png');
    translate: none;
    transition: 1s;
}
.itemCard__slider__dots > .down:active {
    background-image: url('../../recources/img/sliderImg/down.png');
    translate: 0px 5px;
}
.itemCard__slider__main {
    margin-left: auto;
    margin-right: auto;
}
.itemCard__img {
    max-width: 450px;
    height: 600px;
}

h4 {
    text-align: center;
    font-size: 25px;
}
.itemCard__info > p {
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
}

@media(max-width: 550px) {
    .itemCard__wrapper {
        grid-template-columns: 1fr;
    }
    .itemCard__slider {
        width: 450px;
    }
    .itemCard__slider__dots__img {
        max-width: 48px;
    }
    .itemCard__img {
        width: 350px;
        height: 525px;
    }
    h4 {
        font-size: 22px;
        margin-bottom: 10px;
    }
    .itemCard__info > p {
        font-size: 18px;
        margin: 0px;
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media(max-width: 450px) {
    .itemCard__slider {
        width: 330px;
    }
    .itemCard__slider__dots__img {
        max-width: 32px;
    }
    .itemCard__img {
        width: 250px;
        height: 375px;
    }
    h4 {
        font-size: medium;
        margin-bottom: 10px;
    }
    .itemCard__info > p {
        font-size: medium;
        margin: 0px;
    }
}
@media(max-width: 300px) {

    .itemCard__slider {
        width: 280px;
    }
    .itemCard__slider__dots__img {
        max-width: 32px;
    }
    .itemCard__img {
        width: 200px;
        height: 300px;
    }
    h4 {
        font-size: small;
    }
    .itemCard__info > p {
        font-size: small;
    }
}