.timer {
    margin-bottom: 20px;
    text-align: center;
    /* border: 1px solid black; */
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}
.timer > h2 {
    font-size: 30px;
}

.timer__wrapper {
    width: fit-content;
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}
.timer__element {
    font-size: 30px;
    margin: 15px;
    border: 2px double black;
    width: 120px;
    background: white;
}
.timer__element > p {
    margin: 0;
}