header {
    border-bottom: 2px solid gray;
}
.app__header {
    background-color: white;
    display: flex;
    justify-content: space-around;
    height: 90px;
}
.app__header > a {
    width: 85px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 14px;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
}
h1 > span {
    display: none;
}

.app__logo {
    margin: 0px;
    width: 80px;
    height: 68px;
    float: left;
    border-radius: 40px;
}