header {
    border-bottom: 2px solid gray;
}
.app__header {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 90px;
}
.app__header > a {
    min-width: 85px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 18px;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}


.app__logo {
    margin: 0px;
    width: 80px;
    height: 68px;
}

@media(max-width: 450px) {
    .app__header > a {
        font-size:small;
        max-width: 80px;
    }
    h1 {
        font-size: medium;
    }
    .app__logo {
        margin: 0px;
        width: 40px;
        height: 34px;
    }
}
@media(max-width: 300px) {
    .app__header > a {
        font-size:x-small;
        max-width: 70px;
    }
    h1 {
        font-size: small;
    }
    .app__logo {
        width: 20px;
        height: 17px;
    }
}